$button-color: black;
$general_pink: #F5BAB9;
$light_pink: #FCECEC;
$link_color : #FF9D9B;
$semi_light_pink: #FEF8F8;
$filter_background :#FDF7F7;
@font-face {
  font-family: "mreaves-bold";
  src: url("../fonts/MrEavesXLModOT-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "mreaves-book";
  src: url("../fonts/MrEavesXLModOT-Book.ttf") format("truetype");
}

@font-face {
  font-family: "mreaves-light";
  src: url("../fonts/MrEavesXLModOT-Light.ttf") format("truetype");
}

@font-face {
  font-family: "mreaves-regular";
  src: url("../fonts/MrEavesXLModOT-Reg.ttf") format("truetype");
}
.container {
  max-width: 1440px;
  font-family: "mreaves-regular";
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
}

.main-menu {
    background-color: white;
    padding: 1rem 0;
  
    .full-menu {
      max-width: 1200px;
      margin: 0 auto;
      text-align: center;

      .all-buttons {
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
          a {
            color: #2b3541;
            font-size: 18px;
            text-decoration: none;
            padding: 0.5rem 1rem;
            display: block;
            letter-spacing: 1px;
            font-weight: 400;
            &:hover {
              color: $general_pink;
              text-decoration: none;
            }
          }
          &:last-child {
            a {
              background-color: $button-color;
              color: white;
  
              &:hover {
                background-color: lighten($link_color, 10%);
              }
            }
          }
        }
      }
    }
}

.full-part {
  background-color: #fff;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}


.top-images {
  display: flex;
  flex-direction: column;
  width: 66%;
  gap: 10px;
  >div{
    display: flex;
    gap: 10px;
    >img{
      width: 49%;
    }
  }
}
.top-images img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}


.right-part {
  width: 34%;
  .upper-part {
    border-bottom: 1px solid pink;
    font-size: 16px;
    font-family: mreaves-bold;
    h2{
      font-weight: 500;
      margin: 8px 0px;
    }
  }
  .gift-card-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15px;
    .upper-form-group{
      > label {
        font-family: mreaves-regular;
        display: block;
        font-weight: normal;
        margin-bottom: 10px;
        font-size: 18px;
        margin-top: 20px;
      }
      .description {
        text-align: start;
        // color: #666;
        font-size: 16px;
        margin-bottom: 40px;
        width: 92%;
      }
      .design-options {
        // cursor: pointer;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 13px;
        img {
          cursor: pointer;
          max-width: 100%;
          border-radius: 7px;
          border: 2px solid transparent; 
        }
        img:hover{
          border: 2px solid $general_pink;
        }
      }
    }
    .amount-form-group{
      align-self: normal;
      >label {
        font-family: mreaves-regular;
        display: block;
        font-weight: normal;
        margin-bottom: 10px;
        font-size: 18px;
        margin-top: 25px;
      }
      .amount-options {
        margin-top: 20px;
        display: flex;
        gap: 10px;
        // justify-content: space-between;
  
        div {
          font-family: mreaves-bold;
          font-size: 15px;
          flex: 1;
          border: 1px solid black;
          padding: 8px 0px;
          text-align: center;
          cursor: pointer;
          transition: background-color 0.3s, color 0.3s;
          &.selected {
            background-color: $button-color;
            color: white;
          }
        }
        div:hover {
          background-color: $button-color; /* Change background color on hover */
          color: white; /* Change text color on hover */
        }
      }
    }
    .form-group {
      width: 100%;
      margin-top: 30px;
  
      > label {
        font-family: mreaves-regular;
        display: block;
        font-weight: normal;
        margin-bottom: 10px;
        font-size: 18px;
        margin-top: 20px;
      }
      .inner-form {
        font-family: mreaves-book;
        font-size: 16px;
      }
      .form-msg {
        font-family: mreaves-book;
        font-size: 16px;
        margin-bottom: 4px;
      }
      input,
      textarea {
        font-family: mreaves-regular;
        font-weight: 400;
        font-size: 16px;
        margin: 6px 0px;
        width: 93%;
        border: none;
        outline: none;
        font-weight: normal;
      }
      input{
        color: #495057;
      }
      textarea {
        resize: none;
        height: 75px;
        padding: 2px 16px;
        border-top: 1px solid #d3d3d3;
      }
      input::placeholder,
      textarea::placeholder {
        color: #d5d5d5;
      }
      .input-options {
        padding: 0px 20px;
        .upper-form{
          margin-top: 20px;
        }
        // .text-msg{
        //   margin-top: 15px;
        // }
        .send-on{
          margin-top: 15px;
        }
        .name-input{
          margin-top: 15px;
        }
        input{
          border-bottom: 1px solid #d3d3d3;
          // width: 100%;
          padding: 2px 16px;
        }
      }
    }
    .text-msg{
      margin-top: 15px;
      border-bottom: 1px solid #d3d3d3;
      width: 100%;
      .message_limit {
        display: block;
        text-align: right;
        color: #d2d1d1;
        // margin-right: 10px;
      }
    }
  
    button[type="submit"] {
      font-family: mreaves-bold;
      background-color: $button-color;
      color: white;
      font-size: 18px;
      margin-top: 40px;
      margin-bottom: 15px;
      padding: 10px 20px;
      width: 100%;
      border: none;
      cursor: pointer;
    }
  }
}

// hr {
//   width: 96%;
//   color: rgb(250, 247, 247);
// }
.bottom {
  margin-right: auto;
  text-decoration: none;
  color: $button-color;
}

.lower-button{
  background-color: $button-color;
  padding: 5px;
  margin: 45px 0px;
  width: max;
  text-align: center;

  .virtual-appoinment-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:#fff;
    font-size: 18px;
    font-family: mreaves-bold;
    padding: 0;
    img{
      margin-left: 10px;
    }
  }
}



// starts media query

@media (min-width: 1440px) {
  .full-part {
    flex-direction: row;
  }

  .right-part {
    width: 34%;
  }

  .top-images {
    width: 66%;
  }
}

@media (max-width: 1440px) and (min-width: 991px) {
  .full-part {
    flex-direction: row;
  }

  .right-part {
    width: 40%;
  }

  .top-images {
    width: 60%;
  }
}

@media (max-width: 991px) and (min-width: 767px) {
  .full-part {
    flex-direction: column;
  }

  .right-part {
    width: 100%;
  }

  .top-images {
    width: 100%;
  }
}

@media (max-width: 767px) and (min-width: 375px) {
  .full-part {
    flex-direction: column;
  }

  .right-part {
    width: 100%;
  }

  .top-images {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .full-part {
    flex-direction: column;
  }

  .right-part {
    width: 100%;
  }

  .top-images {
    width: 100%;
  }

  .top-images1 img {
    margin-top: 15px;
  }

  .top-images2 img {
    display: none;
  }

  .gift-card-form {
    .form-group {
      .design-options {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    button[type="submit"] {
      font-size: 0.9em;
      padding: 8px 16px;
    }
  }
}
